<!Doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>
</head>
<body>
<form th:action="@{/deleteTask}" th:method="post">
    <label>Input ID of your task , please</label><br>
    <input type="text" th:name="id">
    <button type="submit" th:size="30px">Submit</button>
</form>
<div align="center">
    <a th:href="@{/home_page}">Back to Home Page</a>
</div>
</body>
</html>