<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login page</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
</head>
<body>
<h3 class="param">Login page</h3>
<form th:action="@{/login}" method="post">
    <label for="username">Username</label>:
    <input type="text" id="username" name="username" autofocus="autofocus" th:name="username"/> <br />
    <label for="password">Password</label>:
    <input type="password" id="password" name="password" th:name="password"/> <br />
    <input type="submit" value="Log in" />
</form>
<div align="center">
    <a th:href="@{/}">Back to Home Page</a>
</div>
</body>
</html>