<!Doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>
</head>
<body>
<div><a href="/getTasks">GET TASKS</a></div>
<div><a href="/createTask">CREATE TASK</a></div>
<div><a href="/deleteTask">DELETE TASK</a></div>
</body>
<div align="center">
    <a th:href="@{/home_page}">Back to Home Page</a>
</div>
</html>