<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="main_layout :: head"></head>
<body style="background-color: darkcyan">
<h3 align="center" style="padding-right: 500px;color:white ; font-family: 'DejaVu Math TeX Gyre';font-size: 22px;font-weight: bold"> Sign up : </h3>
<div class="container" >
    <div class = "col-md-6 .col-md-offset-3">
        <form method="POST" th:action="@{/register}" th:object="${user}">
            <label>Username : </label>
            <input type="text" class="form-control" placeholder="Username" required th:field="*{username}"/>
            <label style="margin-top: 30px;">Password : </label>
            <input type="password" class="form-control" placeholder="Password" required th:field="*{password}"/>
           <div>
               <button type="submit" class="btn btn-primary" style="margin-top: 30px;">Save</button>
           </div>
        </form>
    </div>
</div>



<div align="center">
    <a th:href="@{/createTask}" style="padding-right: 500px; color:white;font-family: 'DejaVu Math TeX Gyre';font-size: 14px;">Create Account</a>
</div>
</body>
</html>