<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:insert="main_layout :: head"></head>
<body style="background-color: darkcyan">
<div th:insert="main_layout :: navbar"></div>
<div class="container" sec:authorize="isAuthenticated()">
    <div>
        <button type="button" class="btn btn-light" style="color:white; margin-top: 20px;"><a href = "/createTask" style="text-decoration: none ;color: darkcyan">CREATE TASK</a></button>
    </div>
    <div class="row">
        <div>
            <table class="table table-bordered" style="margin-top: 60px; background-color: white">
                <thead>
                <tr>
                    <th>TASK NAME : </th>
                    <th>DESCRIPTION : </th>
                    <th>USERNAME : </th>
                    <th>TASK ID : </th>
                </tr>
                </thead>
                <tbody>
                <tr th:block th:each="task :${taskList}">
                    <td th:text = "${task.task_name}"></td>
                    <td th:text = "${task.description}"></td>
                    <td th:text = "${task.users.username}"></td>
                    <td th:text = "${task.id}"></td>
                    <td><button type="button" class="btn btn-success"><a th:href="@{/update/{id}(id=${task.id})}" style="color: white ; text-align: center; text-decoration: none;">UPDATE TASK</a></button></td>
                    <td><button type="button" class="btn btn-danger"><a th:href="@{/deleteTask/{id}(id=${task.id})}" style="color: white ; text-decoration: none;">DELETE TASK</a></button></td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>