<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:insert="main_layout :: head">
</head>
<body style="background-color: darkcyan">
<div th:insert="main_layout :: navbar"></div>
<div class="container" sec:authorize="isAuthenticated()">
    <div class="row">
        <div>
            <table class="table table-bordered" style="margin-top: 40px;background-color: white">
                <thead>
                <tr>
                    <th>ID : </th>
                    <th>USERNAME : </th>
                    <th>PASSWORD : </th>
                    <th>ACTIVE : </th>
                    <th>ROLE ID : </th>
                    <th>ROLE NAME : </th>
                    <th>UPDATE </th>
                    <th>DELETE </th>
                </tr>
                </thead>
                <tbody>
                <tr th:block th:each="user :${usersList}">
                    <td th:text = "${user.usersId}"></td>
                    <td th:text = "${user.username}"></td>
                    <td th:text = "${user.password}"></td>
                    <td th:text = "${user.enabled}"></td>
                    <th:block th:each = "role :${user.rolesList}">
                        <td th:text="${role.rolesId}"></td>
                        <td th:text="${role.name}"></td>
                    </th:block>
                    <td><button type="button" class="btn btn-success"><a th:href="@{/updateUser/{id}(id=${user.usersId})}" style="color:white;text-decoration: none;">UPDATE</a></button></td>
                    <td><button type="button" class="btn btn-danger"><a th:href="@{/deleteUser/{id}(id=${user.usersId})}" style="color: white;text-decoration: none">DELETE</a> </button></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>